@import './_mixins';
@import './_variables';

.album-page {
  @include mainBackground;
}

.album-container {
  @include mainContainer;
}

.album-cover-container {
  width: 35%;
  height: auto;
}

.album-cover {
  width: 100%;
}

.album-title {
  font-size: 24px;
  margin: 5px 0;
}

.musicians-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 100%;
  height: 60%;
  overflow-y: auto;
}

.musician-info {
  margin: 4px;
}

.album-title {
  font-size: 24px;
  font-weight: 600;
}

.album-artist {
  font-size: 20px;
  margin: 5px 0;
}

.release-year {
  font-size: 16px;
  margin: 5px 0;
}

.collaborator-form-container {
  height: 20%;
  width: 100%;
}

.album-info-container {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-bottom: 2px solid $dark-blue;
}

.album-details-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 5px;
}