@import './_mixins';
@import './_variables';

.artist-page {
  @include mainBackground;
}

.artist-container {
  @include mainContainer;
}

.artist-info-container {
  display: flex;
  flex-direction: row;
  height: 80%;
  width: 100%;
  justify-content: center;
}

.artist-image-container {
  width: 30%;
}

.artist-image {
  width: 100%;
}

.artist-name {
  font-size: 24px;
  margin: 5px 0;
}

.instrument {
  margin: 5px o;
}

.collaborator-form-container {
  height: 20%;
  width: 100%;
}

.artist-details-container {
  margin-left: 10px;
}

.add-collaborator-button {
  background-color: $dark-blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
  margin-top: 5px;
}

.add-collaborator-button:disabled {
  background-color: $gray;
}

.add-collaborator-button:hover {
  cursor: pointer;
}

.add-collaborator-button:disabled:hover {
  cursor: auto;
}

@media screen and (min-width: 1000px) {
  .artist-image-container {
    width: 255px;
  }
}