@import './_mixins';
@import './_variables';

.artist-page {
  @include mainBackground;
}

.artist-container {
  @include mainContainer;
}

.artist-image {
  width: 35%;
}

.artist-name {
  font-size: 24px;
  margin: 5px;
}
