@import './_mixins';
@import './_variables';

.collaborators-form {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.middle-button {
  width: 100%;
  font-size: 12px;
  padding: 5px;
}

.middle-button-container {
  width: 30%;
}

.collaborator-name-box {
  height: 60%;
  display: flex;
  align-items: center;
}

.remove-button-box {
  height: 40%;
  display: flex;
  align-items: flex-start;
}

.collaborator-name {
  font-size: 18px;
  text-align: center;
  margin: 5px;
}

.collaborator-left,
.collaborator-right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.remove-button {
  background: $dark-blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 5px;
}

.remove-button:hover {
  cursor: pointer;
}

.remove-button:disabled {
  background-color: $gray;
}

.remove-button:disabled:hover {
  cursor: auto;
}

.see-collaborations-button {
  background-color: $gold;
  border: none;
  border-radius: 5px;
  color: $dark-blue;
  font-weight: 600;
}

.see-collaborations-button:hover {
  cursor: pointer;
}

@media screen and (max-width: 365px) {
  .middle-button {
    font-size: 10px;
  }
}

@media screen and (max-width: 315px) {
  .middle-button {
    font-size: 8px;
  }
}