@import './_mixins';
@import './_variables';

.collaborators-form {
  border: 1px solid red;
  display: flex;
  padding: 10px;
  width: 100%;
  // height: 20vh;
  justify-content: space-around;
  align-items: center;
}

.middle-button {
  width: 100%;
  // margin: 4px;
  font-size: 12px;
}

.middle-button-container {
  width: 25%;
}

.collaborator-name-box {
  height: 60%;
}

.remove-button-box {
  height: 40%
}

.collaborator-name {
  font-size: 18px;
}

.collaborator-left,
.collaborator-right {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.remove-button {
  background: $dark-blue;
  color: white;
  border: none;
  border-radius: 5px;
  height: 100%;
}