@import './_mixins';
@import './_variables';

.home-page {
  @include mainBackground;
}

.artist-names-container {
  @include mainContainer;
}

.artist-link {
  margin: 4px;
}

.instructions-container {
  padding: 12px;
}

.artists-header {
  margin: 5px;
  font-size: 20px;
}