@import './_mixins';
@import './_variables';

.navbar {
  height: 15%;
}

a:link,
a:visited {
  text-decoration: none;
}

.header-section {
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55%;
}

h1 {
  font-size: 30px;
  color: $white;
}

.home-button:hover {
  cursor: pointer;
}

.searchbar-section {
  background-color: $gold;
  display: flex;
  justify-content: center;
  height: 45%;
}

.search-bar {
  margin: 1%;
  border-radius: 5px;
  width: 60%;
  height: 60%;
}

.search-button {
  margin: 1%;
  background: $dark-blue;
  border: none;
  border-radius: 5px;
  color: white;
  height: 60%;
}