@import './_mixins';
@import './_variables';

.header-section {
  background-color: $dark-blue;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 36px;
  margin: 1%;
}

.searchbar-section {
  background-color: $gold;
  display: flex;
  justify-content: center;
}

.search-bar {
  margin: 1%;
}